/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

/* End reset */

body {
  font-size: large;
  font-family: serif;
  color: #333;
  padding-top: 5vh;
}

div {
  width: 365px;
  padding: 1em;
  margin: 0 auto 2em auto;
  border: 1px solid #ccc;
}

fieldset {
  display: block;
  margin: 0 auto;
  padding-top: 1em;
}

h2,
legend {
  font-size: 1.25em;
  width: 100%;
  padding: 0.25em 0.5em;
  border-bottom: 1px solid #ccc;
}

label {
  display: block;
  padding: 0.25em 0.5em;
  cursor: pointer;
}

label span {
  font-style: italic;
}

label[for="exclude-list"] {
  font-size: 1.25em;
  padding: 0.25em 0.5em;
  border-bottom: 1px solid #ccc;
}

label[for="exclude-list"] span {
  font-size: 0.75em;
  font-style: normal;
  display: block;
}

table {
  width: 100%;
  font-family: monospace;
}

td {
  padding: 0.75em;
}

tr:nth-of-type(even) {
  background-color: #fafafa;
}

tr:hover {
  background-color: #f0f0f0;
}

.remove {
  width: 10%;
  font-size: 1.125em;
  text-align: center;
  cursor: pointer;
}

.remove:hover {
  color: red;
}

input[type="radio"] {
  font-size: inherit;
  cursor: pointer;
  height: 1em;
  width: 1em;
  vertical-align: middle;
}

input[type="text"] {
  width: 100%;
  font: inherit;
  font-family: monospace;
  padding: 0.75em;
  background: none;
  border: 1px solid #ccc;
  margin: 0;
  text-align: left;
  vertical-align: top;
}

.sr-only {
  position: absolute;
  left: -10000px;
  top: auto;
  width: 1px;
  height: 1px;
  overflow: hidden;
}
