/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
body, h1, p, span, label, input {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  padding: 1em;
  height: 5.5em;
  width: 22em;
  font-family: serif;
  font-size: medium;
  color: #333;
}

h1 {
  margin-bottom: 0.5em;
  font-size: 1.25em;
  font-weight: bold;
}

input {
  margin-right: 0.5em;
}

span {
  font-family: monospace;
  font-size: medium;
}
